* {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  background-color: #741656;
  color: #fff;
  height: 5rem;
  line-height: 5rem;
}

.choice {
  width: 165px;
  border-radius: 50%;
  display: flex;
  flex-direction: column; /* stack image and text */
  justify-content: center;
  align-items: center;
  gap: 0.5rem; /* space between image and text */
}

.choice:hover {
  cursor: pointer ;
}

.choice p {
  margin-top: 0.3rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #0b9464;
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
}

#user-score,
#comp-score {
  font-size: 4rem;
}

.msg-container {
  margin-top: 5rem;
}

#msg {
  background-color: #2f4257;
  color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}
